<ActionBar title="Bottombar" backgroundColor="#0D0D12">
	<StackLayout orientation="vertical">
		<!-- Header Start -->
		<Label horizontalAlignment="center" letterSpacing="0.2">
			<FormattedString>
				<Span color="#F1A110" fontSize="24" fontWeight="bold" text="GAMER"></Span>
				<Span color="#fff" fontSize="21" fontWeight="normal" text="HOLIC"></Span>
			</FormattedString>
		</Label>
		<!-- Header End -->
	</StackLayout>
</ActionBar>


<GridLayout rows="*,auto" backgroundColor="#0F2832">
	<StackLayout row="0" *ngIf="tab==0 && !DUSER">
		<ScrollView orientation="vertical">
		<GridLayout rows="*,*,*" column="*">
			<StackLayout row="0" orientation="vertical">
				<Image src="~/assets/homeBanner.png" loadMode="async" horizontalAlignment="stretch" stretch="aspectFit"></Image>
			</StackLayout>
			<StackLayout row="1" orientation="vertical" paddingTop="53">
				<Button text="Go Win!" class="PB" (tap)="LOGIN()"></Button>
			</StackLayout>
		</GridLayout>
		</ScrollView>
	</StackLayout>

	<StackLayout row="0" *ngIf="tab==0 && DUSER">
	    <ScrollView>
	        <StackLayout>
	            <StackLayout>

								<Image src="{{DUSER.profile.avatar}}" height="140" width="140" borderRadius="70" class="avatar-image"
										margin="20 10" horizontalAlignment="center"></Image>

									<StackLayout style="margin-top:-33px">
										<Label height="50" width="100%" class="tC Uname" borderRadius="5" [text]="DUSER.profile.name || 'no user name'"></Label>
									</StackLayout>

	                <GridLayout columns="*, *, *" padding="0 10 10 10">
	                    <StackLayout column="0" padding="0 5">
	                        <Label height="50" width="100%" class="skeleton-light tC" borderRadius="5" text="Wins: {{DUSER.profile.wins}}"></Label>
	                    </StackLayout>
											<StackLayout column="1" padding="0 5">
													<Label height="50" width="100%" class="skeleton-light tC" borderRadius="5" text="Loss: {{DUSER.profile.wins}}"></Label>
											</StackLayout>
											<StackLayout column="2" padding="0 5" *ngIf="DUSER.profile.winStreak>0">
													<Label height="50" width="100%" class="skeleton-light tC" borderRadius="5" text="Streak: W+{{DUSER.profile.winStreak}}"></Label>
											</StackLayout>
											<StackLayout column="2" padding="0 5" *ngIf="DUSER.profile.winStreak==0 && DUSER.profile.lossStreak==0">
													<Label height="50" width="100%" class="skeleton-light tC" borderRadius="5" text="Streak: W+{{DUSER.profile.winStreak}}"></Label>
											</StackLayout>
											<StackLayout column="2" padding="0 5" *ngIf="DUSER.profile.lossStreak>0">
													<Label height="50" width="100%" class="skeleton-light tC" borderRadius="5" text="Streak: W+{{DUSER.profile.lossStreak}}"></Label>
											</StackLayout>
	                </GridLayout>


									<GridLayout columns="*, *" padding="0 10 10 10">
											<StackLayout column="0" padding="0 5">
													<GridLayout rows="*,*" columns="*" class="skeleton-light " borderRadius="5">
														<Label row="0" height="20" fontSize="10" width="100%" class="tC" text="BTC" paddingTop="10"></Label>
														<Label row="1" height="40" width="100%" class="tC" text="{{DUSER.wallet[0].btc[0].btc_balance}}"></Label>
													</GridLayout>
											</StackLayout>
											<StackLayout column="1" padding="0 5">
												<GridLayout rows="*,*" columns="*" class="skeleton-light " borderRadius="5">
													<Label row="0" height="20" fontSize="10" width="100%" class="tC" text="OWO" paddingTop="10"></Label>
													<Label row="1" height="40" width="100%" class="tC" text="{{DUSER.wallet[0].owo[0].owo_balance}}"></Label>
												</GridLayout>											</StackLayout>
									</GridLayout>
									<GridLayout rows="*,*" columns="*">

										<StackLayout row="1" *ngIf="DACTIVEGAME">
											<StackLayout>
												<Label text="Active Game" class="tW"></Label>
											</StackLayout>
											<FlexboxLayout flexDirection="row" opacity="0.7" paddingTop="13" (tap)="onGame(DACTIVEGAME.challenge)">
										<GridLayout rows="*, *, 2*" columns="100, *, 10" backgroundColor="rgba(255,255,255,0.2)" height="100" margin="2.5 15" padding="10 0" borderRadius="10">
											<StackLayout row="0" rowSpan="3" col="0" backgroundColor="rgba(0,0,0,0.5)" height="80" width="80" verticalAlignment="center" horizontalAlignment="center" borderRadius="5">
												<Image stretch="aspectFill" height="30" width="30" borderRadius="70" verticalAlignment="middle" src="{{DACTIVEGAME.details.p2Avatar}}"></Image>

											</StackLayout>
											<StackLayout row="0" col="1" height="14"  verticalAlignment="center" horizontalAlignment="left" borderRadius="5">
												<Label text="opponent: {{DACTIVEGAME.details.p2}}" class="tAGD"></Label>
											</StackLayout>
											<StackLayout row="0" col="2"  height="14" width="40%" verticalAlignment="center" horizontalAlignment="left" borderRadius="5">
												<Label text="game: {{DACTIVEGAME.details.game}}" class="tAGD"></Label>
											</StackLayout>
											<StackLayout row="1" col="1" height="12" width="40%" verticalAlignment="center" horizontalAlignment="left" borderRadius="5">
												<Label text="amount: ${{DACTIVEGAME.details.amountUSD}} / {{DACTIVEGAME.details.game}}" class="tAGD"></Label>

											</StackLayout>
											<StackLayout row="2" col="1" height="40" width="100%" verticalAlignment="center" horizontalAlignment="left" borderRadius="5">
												<Label text="{{DACTIVEGAME.details.rules}}" class="tAGD"></Label>

											</StackLayout>
										</GridLayout>
									</FlexboxLayout>

										</StackLayout>
									</GridLayout>
									<GridLayout rows="*,*" columns="*">
										<StackLayout row="1" *ngIf="DHISTORY">
											<FlexboxLayout flexDirection="row" opacity="0.7">
										<GridLayout rows="*, *, 2*" columns="100, *, 10" backgroundColor="rgba(255,255,255,0.2)" height="100" margin="2.5 15" padding="10 0" borderRadius="10">
											<StackLayout row="0" rowSpan="3" col="0" backgroundColor="rgba(0,0,0,0.5)" height="80" width="80" verticalAlignment="center" horizontalAlignment="center" borderRadius="5"></StackLayout>
											<StackLayout row="0" col="1" backgroundColor="rgba(0,0,0,0.5)" height="14" width="20%" verticalAlignment="center" horizontalAlignment="left" borderRadius="5"></StackLayout>
											<StackLayout row="1" col="1" backgroundColor="rgba(0,0,0,0.5)" height="12" width="40%" verticalAlignment="center" horizontalAlignment="left" borderRadius="5"></StackLayout>
											<StackLayout row="2" col="1" backgroundColor="rgba(0,0,0,0.5)" height="40" width="100%" verticalAlignment="center" horizontalAlignment="left" borderRadius="5"></StackLayout>
										</GridLayout>
									</FlexboxLayout>

										</StackLayout>
									</GridLayout>


	            </StackLayout>

	        </StackLayout>
	    </ScrollView>
	</StackLayout>

	<StackLayout row="0" *ngIf="tab==1 && DUSER">
		    <ScrollView #scrollview height="90%">
		            <StackLayout *ngIf="!DCHAT">
									<Label text="no chats yet" class="tW"></Label>
								</StackLayout>
								<StackLayout *ngIf="DCHAT" orientation="vertical">
									<RadListView [items]="DCHAT" height="900" itemReorder="true">
											<ng-template let-item="item">
															<StackLayout orientation="horizontal" padding="5" marginBottom="2" (tap)="onProfile(item.fromID)">
																<GridLayout columns="30,auto" rows="*,*" class="msg">

																	<Image row="0" column="0" class="authorimg" stretch="aspectFill" height="30" width="30" borderRadius="70" verticalAlignment="middle" src="{{item.fromAvatar}}"></Image>
																	<Label row="0" column="1" text="{{item.message}}" class="tM" textWrap="true" verticalAlignment="middle" horizontalAlignment="stretch"  paddingLeft="15" ></Label>
																	<Label row="1" colspan="2" class="tDate" verticalAlignment="bottom" horizontalAlignment="left">
																		<FormattedString>
																			<Span fontWeight="bold" text="{{item.from}}:"></Span>
																			<Span fontWeight="normal" text=" {{item.date | date:'short'}}"></Span>
																		</FormattedString>
																	</Label>

																</GridLayout>

															</StackLayout>
											</ng-template>
									</RadListView>

								</StackLayout>

		    </ScrollView>
		    <StackLayout height="10%">
		        <GridLayout columns="*,auto" style="padding: 10">
		            <TextField #textfield class="chatField" row="0" col="0" [(ngModel)]="message"></TextField>
		            <Button #btn class="CB" row="0" col="1" text="send" (tap)=CHAT(message)></Button>
		        </GridLayout>
		    </StackLayout>
	</StackLayout>

	<StackLayout row="0" *ngIf="tab==2 && DUSER">
				<ScrollView>
								<GridLayout rows="*,*,*,*" colums="*" *ngIf="!showWallet">
									<StackLayout row="0">
										<Label text="Sponsored Wallets" class="tH"></Label>
									</StackLayout>

									<StackLayout row="1" paddingTop="13">
											<Label width="80%" class="skeleton-light tD" borderRadius="5" textWrap="true" text="Sponsor a skilled gamer, they play with your funds you earn a % of their winnings"></Label>
									</StackLayout>
									<StackLayout row="2" paddingTop="23">
										<Button text="Create Wallet" class="PB" (tap)="createWALLET()"></Button>
									</StackLayout>
									<StackLayout row="3" paddingTop="23">
										<Button text="View Wallets" class="PB2" (tap)="showWallet=true"></Button>
									</StackLayout>

								</GridLayout>

								<GridLayout rows="*,*,*,*" colums="*" *ngIf="showWallet">
									<StackLayout row="0">
										<Label text="Sponsored Wallets" class="tH"></Label>
									</StackLayout>

									<StackLayout row="1" paddingTop="13">
											<Label width="80%" class="skeleton-light tD" borderRadius="5" textWrap="true" text="Available Sponsor Wallets"></Label>
									</StackLayout>
									<StackLayout *ngIf="!DSPONSORWALLETS" row="2">
										<Label text="no sponsor wallets" class="tW"></Label>
									</StackLayout>
									<StackLayout *ngIf="DSPONSORWALLETS" orientation="vertical" row="2">
										<RadListView [items]="DSPONSORWALLETS" height="900" itemReorder="true">
												<ng-template let-item="item">
																<StackLayout orientation="horizontal" padding="5" marginBottom="2" (tap)="onProfile(item.fromID)">
																	<GridLayout columns="30,auto" rows="*,*" class="msg">

																		<Image row="0" column="0" class="authorimg" stretch="aspectFill" height="30" width="30" borderRadius="70" verticalAlignment="middle" src="{{item.sponsorAvatar}}"></Image>
																		<Label row="0" column="1" text="{{item.sponsorName}}" class="tM" textWrap="true" verticalAlignment="middle" horizontalAlignment="stretch"  paddingLeft="15" ></Label>
																		<Label row="1" colspan="2" class="tDate" verticalAlignment="bottom" horizontalAlignment="left">
																			<FormattedString>
																				<Span fontWeight="bold" text="Game: {{item.game}}:"></Span>
																				<Span fontWeight="normal" text="Split: {{item.split}}% | Amount ${{item.amount}}"></Span>
																			</FormattedString>
																		</Label>

																	</GridLayout>

																</StackLayout>
												</ng-template>
										</RadListView>

									</StackLayout>
									<StackLayout row="3" paddingTop="23">
										<Button text="Back" class="back" (tap)="showWallet=false"></Button>
									</StackLayout>

								</GridLayout>
				</ScrollView>
	</StackLayout>

	<StackLayout row="0" *ngIf="tab==3">
				<ScrollView>
								<GridLayout rows="*,*,*,*" colums="*" *ngIf="!showRefs">
									<StackLayout row="0">
										<Label text="Game Referee" class="tH"></Label>
									</StackLayout>

									<StackLayout row="1" paddingTop="13">
											<Label width="80%" class="skeleton-light tD" borderRadius="5" textWrap="true" text="Earn 5% of the game amount as a  referee... Join players in an xbox or playstation chatroom and monitor their game. Settle disputes if needed"></Label>
									</StackLayout>
									<StackLayout row="2" paddingTop="23">
										<Button text="Activate" class="PB" (tap)="refOnline()" *ngIf="!DREF"></Button>
										<Button text="Go Online" class="PB2" (tap)="refOnline()" *ngIf="DREF && DREF.online<1"></Button>
										<Button text="Go Offline" class="PB" (tap)="refOnline()" *ngIf="DREF && DREF.online>0"></Button>
									</StackLayout>
									<StackLayout row="3" paddingTop="23">
										<Button text="View Referee's" class="PB" (tap)="showRefs=true"></Button>
									</StackLayout>

								</GridLayout>

								<GridLayout rows="*,*,*,*" colums="*" *ngIf="showRefs">
									<StackLayout row="0">
										<Label text="Refs Ready Online" class="tH" (tap)="refChange()"></Label>
									</StackLayout>

									<StackLayout row="1" paddingTop="13">
											<Label width="80%" class="skeleton-light tD" borderRadius="5" textWrap="true" text="Join a ref in a chatroom on xbox or playstation to have your game monitored. If there is a score dispute, the ref will resolve"></Label>
									</StackLayout>
									<StackLayout *ngIf="!DREFSONLINE" row="2">
										<Label text="no referee's online" class="tW"></Label>
									</StackLayout>
									<StackLayout *ngIf="DREFSONLINE" orientation="vertical">
										<RadListView [items]="DREFSONLINE" height="900" itemReorder="true">
												<ng-template let-item="item">
																<StackLayout orientation="horizontal" padding="5" marginBottom="2" (tap)="onProfile(item.fromID)">
																	<GridLayout columns="30,auto" rows="*,*" class="msg">

																		<Image row="0" column="0" class="authorimg" stretch="aspectFill" height="30" width="30" borderRadius="70" verticalAlignment="middle" src="{{item.profile.avatar}}"></Image>
																		<Label row="0" column="1" text="{{item.profile.name}}" class="tM" textWrap="true" verticalAlignment="middle" horizontalAlignment="stretch"  paddingLeft="15" ></Label>
																		<Label row="1" colspan="2" class="tDate" verticalAlignment="bottom" horizontalAlignment="left">
																			<FormattedString>
																				<Span fontWeight="bold" text="Game: {{item.profile.game}}"></Span>
																				<Span fontWeight="normal" text="Disputes: {{item.profile.disputes}}"></Span>
																			</FormattedString>
																		</Label>

																	</GridLayout>

																</StackLayout>
												</ng-template>
										</RadListView>

									</StackLayout>

								</GridLayout>
				</ScrollView>
	</StackLayout>

	<StackLayout row="0" *ngIf="tab==4 && DUSER">
				<ScrollView>
					<GridLayout rows="*,*" columns="*" paddingTop="33">

						<StackLayout row="0">
							<GridLayout rows="*,*,*" colums="*">
								<StackLayout row="0">
									<Label text="Wallet" class="tH"></Label>
								</StackLayout>

								<StackLayout row="1" paddingTop="13">
										<Label width="80%" class="skeleton-light tD" borderRadius="5" textWrap="true" text="Deposit/Withdraw Bitcoin or OWO"></Label>
								</StackLayout>
								<StackLayout row="2" *ngIf="!DUSER">
									<Label text="login to access your wallet" class="tH"></Label>
								</StackLayout>

							</GridLayout>
						</StackLayout>
						<StackLayout row="1" paddingTop="33">
							<GridLayout rows="*,*,*,*,*,*" columns="*,*">
								<StackLayout row="0" colspan="2" paddingBottom="10">
									<Label text="BTC" class="bitcoinLabel" *ngIf="!showBTCQR"></Label>
									<Label text="close" class="bitcoinLabel" *ngIf="showBTCQR" (tap)="showBTCQR=false"></Label>
								</StackLayout>
								<StackLayout row="1" colspan="2" paddingBottom="23" *ngIf="!showBTCQR">
									<Label text="{{DUSER.wallet[0].btc[0].btc_balance}}" class="tW"></Label>
								</StackLayout>

								<StackLayout row="2" column="0" *ngIf="!showBTCQR">
									<Button text="Deposit" class="depositBitcoin" (tap)="showBTCQR=true"></Button>
								</StackLayout>
								<StackLayout row="2" column="1" *ngIf="!showBTCQR">
									<Button text="Withdraw" class="withdrawBitcoin" (tap)="onWithdraw(1)"></Button>
								</StackLayout>
								<StackLayout row="2" colspan="2" *ngIf="showBTCQR">
									<Image src="{{DUSER.wallet[0].btc[0].btc_qr}}" loadMode="async" horizontalAlignment="stretch" (tap)="onCopy(DUSER.wallet[0].btc[0].btc_address)"></Image>
								</StackLayout>

								<StackLayout row="3" colspan="2" paddingBottom="10" paddingTop="33">
									<Label text="OWO" class="owoLabel" *ngIf="!showOWOQR"></Label>
									<Label text="close" class="bitcoinLabel" *ngIf="showOWOQR" (tap)="showOWOQR=false"></Label>

								</StackLayout>
								<StackLayout row="4" colspan="2" paddingBottom="23" *ngIf="!showOWOQR">
									<Label text="{{DUSER.wallet[0].owo[0].owo_balance}}" class="tW"></Label>
								</StackLayout>
								<StackLayout row="5" column="0" *ngIf="!showOWOQR">
									<Button text="Deposit" class="depositOWO" (tap)="showOWOQR=true"></Button>
								</StackLayout>
								<StackLayout row="5" column="1" *ngIf="!showOWOQR">
									<Button text="Withdraw" class="withdrawOWO" (tap)="onWithdraw(2)"></Button>
								</StackLayout>
								<StackLayout row="5" colspan="2" *ngIf="showOWOQR">
									<Image src="{{DUSER.wallet[0].owo[0].owo_qr}}" loadMode="async" horizontalAlignment="stretch" stretch="aspectFit" (tap)="onCopy(DUSER.wallet[0].owo[0].owo_address)"></Image>
								</StackLayout>

							</GridLayout>
						</StackLayout>
					</GridLayout>



				</ScrollView>
	</StackLayout>

	<BottomBar row="1" (tabSelected)="tabSelected($event)"></BottomBar>

</GridLayout>
