<ActionBar title="Bottombar" backgroundColor="#0D0D12">
	<StackLayout orientation="vertical">
		<!-- Header Start -->
		<Label horizontalAlignment="center" letterSpacing="0.2">
			<FormattedString>
				<Span color="#F1A110" fontSize="24" fontWeight="bold" text="GAMER"></Span>
				<Span color="#fff" fontSize="21" fontWeight="normal" text="HOLIC"></Span>
			</FormattedString>
		</Label>
		<!-- Header End -->
	</StackLayout>
</ActionBar>

<GridLayout rows="*,auto" backgroundColor="#0F2832">

  <StackLayout row="0" *ngIf="DUSER && !showChallenge && !showChat">
	    <ScrollView>
	        <StackLayout>
	            <StackLayout>

								<Image src="{{DUSER.profile.avatar}}" height="140" width="140" borderRadius="70" class="avatar-image"
										margin="20 10" horizontalAlignment="center"></Image>

									<StackLayout style="margin-top:-33px">
										<Label height="50" width="100%" class="tC Uname" borderRadius="5" [text]="DUSER.profile.name || 'no user name'"></Label>
									</StackLayout>

	                <GridLayout columns="*, *, *" padding="0 10 10 10">
	                    <StackLayout column="0" padding="0 5">
	                        <Label height="50" width="100%" class="skeleton-light tC" borderRadius="5" text="Wins: 0"></Label>
	                    </StackLayout>
											<StackLayout column="1" padding="0 5">
													<Label height="50" width="100%" class="skeleton-light tC" borderRadius="5" text="Loss: 0"></Label>
											</StackLayout>
											<StackLayout column="2" padding="0 5">
													<Label height="50" width="100%" class="skeleton-light tC" borderRadius="5" text="Streak: W+2"></Label>
											</StackLayout>
	                </GridLayout>

									<GridLayout columns="*, *" padding="0 10 10 10">
											<StackLayout column="0" padding="0 5">
													<Label height="50" width="100%" class="PB tC" borderRadius="5" text="Challenge" (tap)="onChallenge()" ></Label>
											</StackLayout>
											<StackLayout column="1" padding="0 5">
													<Label height="50" width="100%" class="CPB tC" borderRadius="5" text="Chat" (tap)="showChat=true"></Label>
											</StackLayout>
									</GridLayout>

									<GridLayout rows="*,*" columns="*">
										<StackLayout row="0" *ngIf="!DHISTORY">
											<Label text="no games played" class="tW"></Label>
										</StackLayout>
										<StackLayout row="1" *ngIf="DHISTORY">
											<FlexboxLayout flexDirection="row" opacity="0.7">
										<GridLayout rows="*, *, 2*" columns="100, *, 10" backgroundColor="rgba(255,255,255,0.2)" height="100" margin="2.5 15" padding="10 0" borderRadius="10">
											<StackLayout row="0" rowSpan="3" col="0" backgroundColor="rgba(0,0,0,0.5)" height="80" width="80" verticalAlignment="center" horizontalAlignment="center" borderRadius="5"></StackLayout>
											<StackLayout row="0" col="1" backgroundColor="rgba(0,0,0,0.5)" height="14" width="20%" verticalAlignment="center" horizontalAlignment="left" borderRadius="5"></StackLayout>
											<StackLayout row="1" col="1" backgroundColor="rgba(0,0,0,0.5)" height="12" width="40%" verticalAlignment="center" horizontalAlignment="left" borderRadius="5"></StackLayout>
											<StackLayout row="2" col="1" backgroundColor="rgba(0,0,0,0.5)" height="40" width="100%" verticalAlignment="center" horizontalAlignment="left" borderRadius="5"></StackLayout>
										</GridLayout>
									</FlexboxLayout>

										</StackLayout>
									</GridLayout>


	            </StackLayout>
	        </StackLayout>

          <StackLayout *ngIf="DUSER && showChallenge && !showChat">
              <GridLayout rows="*,*,*" columns="*">
                <StackLayout *ngIf="!game" row="0">

                  <Button text="select game" class="btn btn-primary"></Button>
                </StackLayout>
              </GridLayout>

          </StackLayout>

	    </ScrollView>
	</StackLayout>

	<StackLayout row="0" *ngIf="DUSER && !showChallenge && showChat">
				<ScrollView #scrollview height="90%" row="0">
					<StackLayout  orientation="vertical">
						<Button text="close" class="btn closeButton" (tap)="showChat=false"></Button>

					</StackLayout>

								<StackLayout *ngIf="!DCHAT">
									<Label text="no chats yet" class="tW"></Label>
								</StackLayout>
								<StackLayout>

								</StackLayout>
								<StackLayout *ngIf="DCHAT" orientation="vertical">
									<RadListView [items]="DCHAT" height="900" itemReorder="true">
											<ng-template let-item="item">
															<StackLayout orientation="horizontal" padding="5" marginBottom="2" (tap)="showChat=false">
																<GridLayout columns="30,auto" rows="*,*" class="msg">

																	<Image row="0" column="0" class="authorimg" stretch="aspectFill" height="30" width="30" borderRadius="70" verticalAlignment="middle" src="{{item.fromAvatar}}"></Image>
																	<Label row="0" column="1" text="{{item.message}}" class="tM" textWrap="true" verticalAlignment="middle" horizontalAlignment="stretch"  paddingLeft="15" ></Label>
																	<Label row="1" colspan="2" class="tDate" verticalAlignment="bottom" horizontalAlignment="left">
																		<FormattedString>
																			<Span fontWeight="bold" text="{{item.from}}:"></Span>
																			<Span fontWeight="normal" text=" {{item.date | date:'short'}}"></Span>
																		</FormattedString>
																	</Label>

																</GridLayout>

															</StackLayout>
											</ng-template>
									</RadListView>

								</StackLayout>

				</ScrollView>
				<StackLayout height="10%" row="1">
						<GridLayout columns="*,auto" style="padding: 10">
								<TextField #textfield class="chatField" row="0" col="0" [(ngModel)]="message"></TextField>
								<Button #btn class="CB" row="0" col="1" text="send" (tap)=CHAT(message)></Button>
						</GridLayout>
				</StackLayout>
	</StackLayout>


</GridLayout>
